.wd-small-navbar { 
	display: flex;
	width: 100%;
	min-height: 100%;
	float: left;
    margin-top: 90px;
	position: fixed;
	top: 0;
	left: 0;
	list-style-type: none;
	border-radius: 0 !important;
}

.wd-small-navbar-item {
	width: 85px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wd-small-navbar-link {
	width: 85px;
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	text-decoration: none;
    display: flex;
}

.wd-small-navbar-text {
    color:rgb(208, 15, 15);
    font-size: 20px;
	display: flex;
	width: 85px;
	justify-content: center;
}

.wd-small-navbar-item .active {
	background-color: white;
	color: rgb(208, 15, 15);
	text-decoration: none;
}

.wd-small-navbar-icon {
	color: rgb(208, 15, 15);
	font-size: 28px;
}

.wd-small-navbar-icon-container {
	height: 50px;
	width: 50px;
    margin-left: 5px;
    margin-right: 10px;
}

.wd-small-navbar-logo {
	width: 70px;
}

.wd-small-navbar-link-text {
	font-size: 15px;
}