.wd-grade-header {
	font-size: 40px;
	font-weight: 300px;
	border-bottom: 1px solid rgb(230, 230, 230);
	margin-bottom: 3pc;
}

.wd-grade-search-container {
	display: flex;
    align-items: center;
}

.wd-grade-search {
	margin-right: 5pc;
	font-size: 20px;
	font-weight: 400;
	width: 300px;
}